{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://securityhub.amazonaws.com/"
        },
        {
            "url": "http://securityhub.amazonaws.com/"
        }
    ],
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "AWS Security Hub provides you with a comprehensive view of your security state within AWS and your compliance with the security industry standards and best practices. Security Hub collects security data from across AWS accounts, services, and supported third-party partners and helps you analyze your security trends and identify the highest priority security issues. For more information, see <a href=\"\">AWS Security Hub User Guide</a>. ",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS SecurityHub",
        "version": "2018-10-26",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/securityhub-2018-10-26.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "securityhub"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/securityhub/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/accounts": {
            "delete": {
                "description": "Disables the AWS Security Hub Service.",
                "operationId": "DisableSecurityHub",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Enables the AWS Security Hub service.",
                "operationId": "EnableSecurityHub",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/findings": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "patch": {
                "description": "Updates the AWS Security Hub-aggregated findings specified by the filter attributes.",
                "operationId": "UpdateFindings",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidInputException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Filters": {
                                        "description": "A collection of attributes that specify what findings you want to update.",
                                        "properties": {
                                            "AwsAccountId": {
                                                "description": "The AWS account ID in which a finding is generated.",
                                                "items": {
                                                    "description": "A string filter for querying findings.",
                                                    "properties": {
                                                        "Comparison": {
                                                            "description": "Represents the condition to be applied to a string value when querying for findings. ",
                                                            "enum": [
                                                                "EQUALS",
                                                                "CONTAINS",
                                                                "PREFIX"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Value": {
                                                            "description": "The string filter value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "CompanyName": {
                                                "description": "The name of the findings provider (company) that owns the solution (product) that generates findings.",
                                                "items": {
                                                    "description": "A string filter for querying findings.",
                                                    "properties": {
                                                        "Comparison": {
                                                            "description": "Represents the condition to be applied to a string value when querying for findings. ",
                                                            "enum": [
                                                                "EQUALS",
                                                                "CONTAINS",
                                                                "PREFIX"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Value": {
                                                            "description": "The string filter value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "ComplianceStatus": {
                                                "description": "Exclusive to findings that are generated as the result of a check run against a specific rule in a supported standard (for example, AWS CIS Foundations). Contains compliance-related finding details.",
                                                "items": {
                                                    "description": "A string filter for querying findings.",
                                                    "properties": {
                                                        "Comparison": {
                                                            "description": "Represents the condition to be applied to a string value when querying for findings. ",
                                                            "enum": [
                                                                "EQUALS",
                                                                "CONTAINS",
                                                                "PREFIX"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Value": {
                                                            "description": "The string filter value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "Confidence": {
                                                "description": "A finding's confidence. Confidence is defined as the likelihood that a finding accurately identifies the behavior or issue that it was intended to identify. Confidence is scored on a 0-100 basis using a ratio scale. 0 equates zero percent confidence and 100 equates to 100 percent confidence.",
                                                "items": {
                                                    "description": "A number filter for querying findings.",
                                                    "properties": {
                                                        "Eq": {
                                                            "description": "Represents the \"equal to\" condition to be applied to a single field when querying for findings.",
                                                            "format": "double",
                                                            "type": "number"
                                                        },
                                                        "Gte": {
                                                            "description": "Represents the \"greater than equal\" condition to be applied to a single field when querying for findings. ",
                                                            "format": "double",
                                                            "type": "number"
                                                        },
                                                        "Lte": {
                                                            "description": "Represents the \"less than equal\" condition to be applied to a single field when querying for findings. ",
                                                            "format": "double",
                                                            "type": "number"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "CreatedAt": {
                                                "description": "An ISO8601-formatted timestamp that indicates when the potential security issue captured by a finding was created by the security findings provider.",
                                                "items": {
                                                    "description": "A date filter for querying findings.",
                                                    "properties": {
                                                        "DateRange": {
                                                            "description": "A date range for the date filter.",
                                                            "properties": {
                                                                "Unit": {
                                                                    "description": "A date range unit for the date filter.",
                                                                    "enum": [
                                                                        "DAYS"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "Value": {
                                                                    "description": "A date range value for the date filter.",
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "End": {
                                                            "description": "An end date for the date filter.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        },
                                                        "Start": {
                                                            "description": "A start date for the date filter.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "Criticality": {
                                                "description": "The level of importance assigned to the resources associated with the finding. A score of 0 means the underlying resources have no criticality, and a score of 100 is reserved for the most critical resources.",
                                                "items": {
                                                    "description": "A number filter for querying findings.",
                                                    "properties": {
                                                        "Eq": {
                                                            "description": "Represents the \"equal to\" condition to be applied to a single field when querying for findings.",
                                                            "format": "double",
                                                            "type": "number"
                                                        },
                                                        "Gte": {
                                                            "description": "Represents the \"greater than equal\" condition to be applied to a single field when querying for findings. ",
                                                            "format": "double",
                                                            "type": "number"
                                                        },
                                                        "Lte": {
                                                            "description": "Represents the \"less than equal\" condition to be applied to a single field when querying for findings. ",
                                                            "format": "double",
                                                            "type": "number"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "Description": {
                                                "description": "A finding's description.",
                                                "items": {
                                                    "description": "A string filter for querying findings.",
                                                    "properties": {
                                                        "Comparison": {
                                                            "description": "Represents the condition to be applied to a string value when querying for findings. ",
                                                            "enum": [
                                                                "EQUALS",
                                                                "CONTAINS",
                                                                "PREFIX"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Value": {
                                                            "description": "The string filter value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "FirstObservedAt": {
                                                "description": "An ISO8601-formatted timestamp that indicates when the potential security issue captured by a finding was first observed by the security findings provider.",
                                                "items": {
                                                    "description": "A date filter for querying findings.",
                                                    "properties": {
                                                        "DateRange": {
                                                            "description": "A date range for the date filter.",
                                                            "properties": {
                                                                "Unit": {
                                                                    "description": "A date range unit for the date filter.",
                                                                    "enum": [
                                                                        "DAYS"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "Value": {
                                                                    "description": "A date range value for the date filter.",
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "End": {
                                                            "description": "An end date for the date filter.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        },
                                                        "Start": {
                                                            "description": "A start date for the date filter.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "GeneratorId": {
                                                "description": "This is the identifier for the solution-specific component (a discrete unit of logic) that generated a finding. In various security findings provider's solutions, this generator can be called a rule, a check, a detector, a plug-in, etc.",
                                                "items": {
                                                    "description": "A string filter for querying findings.",
                                                    "properties": {
                                                        "Comparison": {
                                                            "description": "Represents the condition to be applied to a string value when querying for findings. ",
                                                            "enum": [
                                                                "EQUALS",
                                                                "CONTAINS",
                                                                "PREFIX"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Value": {
                                                            "description": "The string filter value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "Id": {
                                                "description": "The security findings provider-specific identifier for a finding.",
                                                "items": {
                                                    "description": "A string filter for querying findings.",
                                                    "properties": {
                                                        "Comparison": {
                                                            "description": "Represents the condition to be applied to a string value when querying for findings. ",
                                                            "enum": [
                                                                "EQUALS",
                                                                "CONTAINS",
                                                                "PREFIX"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Value": {
                                                            "description": "The string filter value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "Keyword": {
                                                "description": "A keyword for a finding.",
                                                "items": {
                                                    "description": "A keyword filter for querying findings.",
                                                    "properties": {
                                                        "Value": {
                                                            "description": "A value for the keyword.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "LastObservedAt": {
                                                "description": "An ISO8601-formatted timestamp that indicates when the potential security issue captured by a finding was most recently observed by the security findings provider.",
                                                "items": {
                                                    "description": "A date filter for querying findings.",
                                                    "properties": {
                                                        "DateRange": {
                                                            "description": "A date range for the date filter.",
                                                            "properties": {
                                                                "Unit": {
                                                                    "description": "A date range unit for the date filter.",
                                                                    "enum": [
                                                                        "DAYS"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "Value": {
                                                                    "description": "A date range value for the date filter.",
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "End": {
                                                            "description": "An end date for the date filter.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        },
                                                        "Start": {
                                                            "description": "A start date for the date filter.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "MalwareName": {
                                                "description": "The name of the malware that was observed.",
                                                "items": {
                                                    "description": "A string filter for querying findings.",
                                                    "properties": {
                                                        "Comparison": {
                                                            "description": "Represents the condition to be applied to a string value when querying for findings. ",
                                                            "enum": [
                                                                "EQUALS",
                                                                "CONTAINS",
                                                                "PREFIX"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Value": {
                                                            "description": "The string filter value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "MalwarePath": {
                                                "description": "The filesystem path of the malware that was observed.",
                                                "items": {
                                                    "description": "A string filter for querying findings.",
                                                    "properties": {
                                                        "Comparison": {
                                                            "description": "Represents the condition to be applied to a string value when querying for findings. ",
                                                            "enum": [
                                                                "EQUALS",
                                                                "CONTAINS",
                                                                "PREFIX"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Value": {
                                                            "description": "The string filter value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "MalwareState": {
                                                "description": "The state of the malware that was observed.",
                                                "items": {
                                                    "description": "A string filter for querying findings.",
                                                    "properties": {
                                                        "Comparison": {
                                                            "description": "Represents the condition to be applied to a string value when querying for findings. ",
                                                            "enum": [
                                                                "EQUALS",
                                                                "CONTAINS",
                                                                "PREFIX"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Value": {
                                                            "description": "The string filter value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "MalwareType": {
                                                "description": "The type of the malware that was observed.",
                                                "items": {
                                                    "description": "A string filter for querying findings.",
                                                    "properties": {
                                                        "Comparison": {
                                                            "description": "Represents the condition to be applied to a string value when querying for findings. ",
                                                            "enum": [
                                                                "EQUALS",
                                                                "CONTAINS",
                                                                "PREFIX"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Value": {
                                                            "description": "The string filter value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "NetworkDestinationDomain": {
                                                "description": "The destination domain of network-related information about a finding.",
                                                "items": {
                                                    "description": "A string filter for querying findings.",
                                                    "properties": {
                                                        "Comparison": {
                                                            "description": "Represents the condition to be applied to a string value when querying for findings. ",
                                                            "enum": [
                                                                "EQUALS",
                                                                "CONTAINS",
                                                                "PREFIX"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Value": {
                                                            "description": "The string filter value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "NetworkDestinationIpV4": {
                                                "description": "The destination IPv4 address of network-related information about a finding.",
                                                "items": {
                                                    "description": "The IP filter for querying findings.&gt;",
                                                    "properties": {
                                                        "Cidr": {
                                                            "description": "Finding's CIDR value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "NetworkDestinationIpV6": {
                                                "description": "The destination IPv6 address of network-related information about a finding.",
                                                "items": {
                                                    "description": "The IP filter for querying findings.&gt;",
                                                    "properties": {
                                                        "Cidr": {
                                                            "description": "Finding's CIDR value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "NetworkDestinationPort": {
                                                "description": "The destination port of network-related information about a finding.",
                                                "items": {
                                                    "description": "A number filter for querying findings.",
                                                    "properties": {
                                                        "Eq": {
                                                            "description": "Represents the \"equal to\" condition to be applied to a single field when querying for findings.",
                                                            "format": "double",
                                                            "type": "number"
                                                        },
                                                        "Gte": {
                                                            "description": "Represents the \"greater than equal\" condition to be applied to a single field when querying for findings. ",
                                                            "format": "double",
                                                            "type": "number"
                                                        },
                                                        "Lte": {
                                                            "description": "Represents the \"less than equal\" condition to be applied to a single field when querying for findings. ",
                                                            "format": "double",
                                                            "type": "number"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "NetworkDirection": {
                                                "description": "Indicates the direction of network traffic associated with a finding.",
                                                "items": {
                                                    "description": "A string filter for querying findings.",
                                                    "properties": {
                                                        "Comparison": {
                                                            "description": "Represents the condition to be applied to a string value when querying for findings. ",
                                                            "enum": [
                                                                "EQUALS",
                                                                "CONTAINS",
                                                                "PREFIX"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Value": {
                                                            "description": "The string filter value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "NetworkProtocol": {
                                                "description": "The protocol of network-related information about a finding.",
                                                "items": {
                                                    "description": "A string filter for querying findings.",
                                                    "properties": {
                                                        "Comparison": {
                                                            "description": "Represents the condition to be applied to a string value when querying for findings. ",
                                                            "enum": [
                                                                "EQUALS",
                                                                "CONTAINS",
                                                                "PREFIX"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Value": {
                                                            "description": "The string filter value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "NetworkSourceDomain": {
                                                "description": "The source domain of network-related information about a finding.",
                                                "items": {
                                                    "description": "A string filter for querying findings.",
                                                    "properties": {
                                                        "Comparison": {
                                                            "description": "Represents the condition to be applied to a string value when querying for findings. ",
                                                            "enum": [
                                                                "EQUALS",
                                                                "CONTAINS",
                                                                "PREFIX"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Value": {
                                                            "description": "The string filter value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "NetworkSourceIpV4": {
                                                "description": "The source IPv4 address of network-related information about a finding.",
                                                "items": {
                                                    "description": "The IP filter for querying findings.&gt;",
                                                    "properties": {
                                                        "Cidr": {
                                                            "description": "Finding's CIDR value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "NetworkSourceIpV6": {
                                                "description": "The source IPv6 address of network-related information about a finding.",
                                                "items": {
                                                    "description": "The IP filter for querying findings.&gt;",
                                                    "properties": {
                                                        "Cidr": {
                                                            "description": "Finding's CIDR value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "NetworkSourceMac": {
                                                "description": "The source media access control (MAC) address of network-related information about a finding.",
                                                "items": {
                                                    "description": "A string filter for querying findings.",
                                                    "properties": {
                                                        "Comparison": {
                                                            "description": "Represents the condition to be applied to a string value when querying for findings. ",
                                                            "enum": [
                                                                "EQUALS",
                                                                "CONTAINS",
                                                                "PREFIX"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Value": {
                                                            "description": "The string filter value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "NetworkSourcePort": {
                                                "description": "The source port of network-related information about a finding.",
                                                "items": {
                                                    "description": "A number filter for querying findings.",
                                                    "properties": {
                                                        "Eq": {
                                                            "description": "Represents the \"equal to\" condition to be applied to a single field when querying for findings.",
                                                            "format": "double",
                                                            "type": "number"
                                                        },
                                                        "Gte": {
                                                            "description": "Represents the \"greater than equal\" condition to be applied to a single field when querying for findings. ",
                                                            "format": "double",
                                                            "type": "number"
                                                        },
                                                        "Lte": {
                                                            "description": "Represents the \"less than equal\" condition to be applied to a single field when querying for findings. ",
                                                            "format": "double",
                                                            "type": "number"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "NoteText": {
                                                "description": "The text of a note.",
                                                "items": {
                                                    "description": "A string filter for querying findings.",
                                                    "properties": {
                                                        "Comparison": {
                                                            "description": "Represents the condition to be applied to a string value when querying for findings. ",
                                                            "enum": [
                                                                "EQUALS",
                                                                "CONTAINS",
                                                                "PREFIX"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Value": {
                                                            "description": "The string filter value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "NoteUpdatedAt": {
                                                "description": "The timestamp of when the note was updated.",
                                                "items": {
                                                    "description": "A date filter for querying findings.",
                                                    "properties": {
                                                        "DateRange": {
                                                            "description": "A date range for the date filter.",
                                                            "properties": {
                                                                "Unit": {
                                                                    "description": "A date range unit for the date filter.",
                                                                    "enum": [
                                                                        "DAYS"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "Value": {
                                                                    "description": "A date range value for the date filter.",
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "End": {
                                                            "description": "An end date for the date filter.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        },
                                                        "Start": {
                                                            "description": "A start date for the date filter.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "NoteUpdatedBy": {
                                                "description": "The principal that created a note.",
                                                "items": {
                                                    "description": "A string filter for querying findings.",
                                                    "properties": {
                                                        "Comparison": {
                                                            "description": "Represents the condition to be applied to a string value when querying for findings. ",
                                                            "enum": [
                                                                "EQUALS",
                                                                "CONTAINS",
                                                                "PREFIX"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Value": {
                                                            "description": "The string filter value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "ProcessLaunchedAt": {
                                                "description": "The date/time that the process was launched.",
                                                "items": {
                                                    "description": "A date filter for querying findings.",
                                                    "properties": {
                                                        "DateRange": {
                                                            "description": "A date range for the date filter.",
                                                            "properties": {
                                                                "Unit": {
                                                                    "description": "A date range unit for the date filter.",
                                                                    "enum": [
                                                                        "DAYS"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "Value": {
                                                                    "description": "A date range value for the date filter.",
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "End": {
                                                            "description": "An end date for the date filter.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        },
                                                        "Start": {
                                                            "description": "A start date for the date filter.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "ProcessName": {
                                                "description": "The name of the process.",
                                                "items": {
                                                    "description": "A string filter for querying findings.",
                                                    "properties": {
                                                        "Comparison": {
                                                            "description": "Represents the condition to be applied to a string value when querying for findings. ",
                                                            "enum": [
                                                                "EQUALS",
                                                                "CONTAINS",
                                                                "PREFIX"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Value": {
                                                            "description": "The string filter value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "ProcessParentPid": {
                                                "description": "The parent process ID.",
                                                "items": {
                                                    "description": "A number filter for querying findings.",
                                                    "properties": {
                                                        "Eq": {
                                                            "description": "Represents the \"equal to\" condition to be applied to a single field when querying for findings.",
                                                            "format": "double",
                                                            "type": "number"
                                                        },
                                                        "Gte": {
                                                            "description": "Represents the \"greater than equal\" condition to be applied to a single field when querying for findings. ",
                                                            "format": "double",
                                                            "type": "number"
                                                        },
                                                        "Lte": {
                                                            "description": "Represents the \"less than equal\" condition to be applied to a single field when querying for findings. ",
                                                            "format": "double",
                                                            "type": "number"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "ProcessPath": {
                                                "description": "The path to the process executable.",
                                                "items": {
                                                    "description": "A string filter for querying findings.",
                                                    "properties": {
                                                        "Comparison": {
                                                            "description": "Represents the condition to be applied to a string value when querying for findings. ",
                                                            "enum": [
                                                                "EQUALS",
                                                                "CONTAINS",
                                                                "PREFIX"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Value": {
                                                            "description": "The string filter value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "ProcessPid": {
                                                "description": "The process ID.",
                                                "items": {
                                                    "description": "A number filter for querying findings.",
                                                    "properties": {
                                                        "Eq": {
                                                            "description": "Represents the \"equal to\" condition to be applied to a single field when querying for findings.",
                                                            "format": "double",
                                                            "type": "number"
                                                        },
                                                        "Gte": {
                                                            "description": "Represents the \"greater than equal\" condition to be applied to a single field when querying for findings. ",
                                                            "format": "double",
                                                            "type": "number"
                                                        },
                                                        "Lte": {
                                                            "description": "Represents the \"less than equal\" condition to be applied to a single field when querying for findings. ",
                                                            "format": "double",
                                                            "type": "number"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "ProcessTerminatedAt": {
                                                "description": "The date/time that the process was terminated.",
                                                "items": {
                                                    "description": "A date filter for querying findings.",
                                                    "properties": {
                                                        "DateRange": {
                                                            "description": "A date range for the date filter.",
                                                            "properties": {
                                                                "Unit": {
                                                                    "description": "A date range unit for the date filter.",
                                                                    "enum": [
                                                                        "DAYS"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "Value": {
                                                                    "description": "A date range value for the date filter.",
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "End": {
                                                            "description": "An end date for the date filter.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        },
                                                        "Start": {
                                                            "description": "A start date for the date filter.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "ProductArn": {
                                                "description": "The ARN generated by Security Hub that uniquely identifies a third-party company (security findings provider) once this provider's product (solution that generates findings) is registered with Security Hub.",
                                                "items": {
                                                    "description": "A string filter for querying findings.",
                                                    "properties": {
                                                        "Comparison": {
                                                            "description": "Represents the condition to be applied to a string value when querying for findings. ",
                                                            "enum": [
                                                                "EQUALS",
                                                                "CONTAINS",
                                                                "PREFIX"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Value": {
                                                            "description": "The string filter value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "ProductFields": {
                                                "description": "A data type where security findings providers can include additional solution-specific details that are not part of the defined AwsSecurityFinding format.",
                                                "items": {
                                                    "description": "The map filter for querying findings.",
                                                    "properties": {
                                                        "Comparison": {
                                                            "description": "Represents the condition to be applied to a key value when querying for findings with a map filter.",
                                                            "enum": [
                                                                "CONTAINS"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Key": {
                                                            "description": "The key of the map filter.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        },
                                                        "Value": {
                                                            "description": "The value for the key in the map filter.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "ProductName": {
                                                "description": "The name of the solution (product) that generates findings.",
                                                "items": {
                                                    "description": "A string filter for querying findings.",
                                                    "properties": {
                                                        "Comparison": {
                                                            "description": "Represents the condition to be applied to a string value when querying for findings. ",
                                                            "enum": [
                                                                "EQUALS",
                                                                "CONTAINS",
                                                                "PREFIX"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Value": {
                                                            "description": "The string filter value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "RecommendationText": {
                                                "description": "The recommendation of what to do about the issue described in a finding.",
                                                "items": {
                                                    "description": "A string filter for querying findings.",
                                                    "properties": {
                                                        "Comparison": {
                                                            "description": "Represents the condition to be applied to a string value when querying for findings. ",
                                                            "enum": [
                                                                "EQUALS",
                                                                "CONTAINS",
                                                                "PREFIX"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Value": {
                                                            "description": "The string filter value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "RecordState": {
                                                "description": "The updated record state for the finding.",
                                                "items": {
                                                    "description": "A string filter for querying findings.",
                                                    "properties": {
                                                        "Comparison": {
                                                            "description": "Represents the condition to be applied to a string value when querying for findings. ",
                                                            "enum": [
                                                                "EQUALS",
                                                                "CONTAINS",
                                                                "PREFIX"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Value": {
                                                            "description": "The string filter value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "RelatedFindingsId": {
                                                "description": "The solution-generated identifier for a related finding.",
                                                "items": {
                                                    "description": "A string filter for querying findings.",
                                                    "properties": {
                                                        "Comparison": {
                                                            "description": "Represents the condition to be applied to a string value when querying for findings. ",
                                                            "enum": [
                                                                "EQUALS",
                                                                "CONTAINS",
                                                                "PREFIX"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Value": {
                                                            "description": "The string filter value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "RelatedFindingsProductArn": {
                                                "description": "The ARN of the solution that generated a related finding.",
                                                "items": {
                                                    "description": "A string filter for querying findings.",
                                                    "properties": {
                                                        "Comparison": {
                                                            "description": "Represents the condition to be applied to a string value when querying for findings. ",
                                                            "enum": [
                                                                "EQUALS",
                                                                "CONTAINS",
                                                                "PREFIX"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Value": {
                                                            "description": "The string filter value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "ResourceAwsEc2InstanceIamInstanceProfileArn": {
                                                "description": "The IAM profile ARN of the instance.",
                                                "items": {
                                                    "description": "A string filter for querying findings.",
                                                    "properties": {
                                                        "Comparison": {
                                                            "description": "Represents the condition to be applied to a string value when querying for findings. ",
                                                            "enum": [
                                                                "EQUALS",
                                                                "CONTAINS",
                                                                "PREFIX"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Value": {
                                                            "description": "The string filter value.",
                                                            "pattern": ".*\\S.*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "ResourceAwsEc2InstanceImageId": {
                                                "description": "The Amazon Machine Image (AMI) ID of the instance.",
                                                "items": {
                                                    "description": "A string filter for querying findings.",
                                                    "properties": {
                                                        "Comparison": {
                                                            "description": "Represents the condition to be applied to a string value when querying for findings. ",
                                                            "enum": [
                                                                "EQUALS",
                                                                "CONTAINS",
                                                                "PREFIX"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Value": {
[...]
